.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status-dot {
  width: 10px; /* Tamaño del punto */
  height: 10px;
  border-radius: 50%; /* Forma circular */
  display: inline-block;
}
.bg-green {
  background-color: #28a745; /* Verde */
}
.bg-red {
  background-color: #dc3545; /* Rojo */
}
.bg-gray {
  background-color: gray;
}

#img-loading {
  width: 200px;
}

